.grid-container {
    display: grid;
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 100px auto;
    height: 100vh;
    grid-template-areas: "header header"
        "sidebar main"
        "footer footer";
}

.header {
    grid-area: header;
    background-color: yellow;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: yellow;
}

.main {
    grid-area: main;
    background-color: black;
}

.footer {
    grid-area: footer;
    background-color: yellow;
}

.logo {
    height: 80%;
}