body {
    background-color: lightpink;
    font-family: 'Poppins', sans-serif;
}


fieldset {
    background-color: lightblue;
    border-color: gray;
    border-width: 5px;
    padding: 10px;
    margin: 10px;
    width: 0px;
}



td {
    text-align: left;
    letter-spacing: 2px;
    margin-right: 6px;

}

.reunukset {

    border-color: blue;
    border-style: solid;
    margin-right: 6px;
}

table {

    border-spacing: 10px;
}

.box {
    padding: 20px;
    margin: 30px;
    background: lightblue;
}

.title {
    text-align: center;
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: column;

}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.input-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-container {
    display: flex;
    flex-direction: column;

}

.table-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.row-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cell-div {
    background-color: lightblue;
    padding: 10px;
    border: 2px solid blue;
    flex: 1;
}

.otsikko {
    font-weight: bold;
    text-align: center;
}